name: CI

on:
  repository_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: 10.x 
    - run: npm install
    - name: Run a multi-line script
      run: |
        echo RUNNING GENERATE 2,
        npm run generate
        ls
        cat dist/api.json
    - uses: adasq/dropbox-v2-api-watcher@master
      env:
        TOKEN: ${{ secrets.TOKEN }}
      with:
        myInput: 'teeeeeeeeeeeeeeeest'